.App {
  text-align: center;
}

/* .Primary{ 

  border:1px solid #000000; 

  color:#fff; 

  background: #6b5cc5; 

  padding:1em;

  font-size:1em; 
  justify-content: center;

  line-height:1; 

  border-radius: 1.2em;

} */

.Primary {
  padding: 0.875rem 2rem;

  margin: inherit;

  border-radius: 8rem;

  border: 0;

  font-weight: 200;

  transition: opacity 300ms ease-in-out;

  background-image: linear-gradient(to right, #c5330f, #c5330f);

  cursor: pointer;

  position: relative;

  font-size: rem;

  color: #a1a1a1;

  font-size: 0.8rem;

  display: inline-block;
}

.classs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
  flex: 1 100%;
  width: 92.5%;
  align-self: center;
  padding-top: 3.5em;
  padding-bottom: 2.5em;
  margin: 0;
}

.class {
  justify-content: center;

  background-color: #a1ca40;
}

.classes {
  justify-content: center;

  background-color: #f3f5f4;
}
.class {
  width: 350px;
  background-color: #f3f5f4;
  margin: 0rem auto;
}
.register {
  width: 1000px;
  margin: 5rem auto;
}

.updaterole {
  width: 1000px;
  margin: 0rem auto;
}
.foodbank {
  width: 1000px;
  margin: 5rem auto;
}

.home {
  background-color: rgb(247, 229, 210);
}

.aboutus {
  background-color: rgb(247, 229, 210);
}

.tab-content {
  background-color: rgb(240, 244, 245);
}

/* .dashboard{
    display: flex;
  
    justify-content: center;
  
    background: #ccffee;
  

} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* scroll bar */
.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

/* .btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #1189de;
  border-radius: 4px;
  background: #fff;
  cursor: pointer; } */
